# General binaries and build files
*.exe
*.dll
*.so
*.dylib
*.bin
*.hex
*.elf
*.a
*.eep
*.map
*.out
*.app

# Object files and archives
*.o
*.d
*.lib
*.obj
*.i*86
*.x86_64
*.gch
*.pch
*.lai
*.la
*.lo
*.slo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VSCode files
.vscode/
*.code-workspace

# Arduino specific files
/build/
/saved/
/sketch/
*.ino.*  # Auto-saved files by Arduino IDE

# Ignore all log files and temp files
*.log
*.tmp
*.temp

# Ignore specific files that may contain sensitive information or user-specific preferences
*.DS_Store  # macOS specific
Thumbs.db   # Windows specific
*.sublime-* # Sublime Text specific files

# Add other files and folders that are specific to your project
# For example, if you have a directory for test binaries, you might add:
#/test/bin/
